.idea
/nbproject/
/nbproject/private/
src/svea/**/.git

src/svea/svea/checkout-php/examples/
src/svea/svea/checkout-php/tests/
src/svea/svea/checkout-php/.gitignore

src/svea/svea/webpay/example/
src/svea/svea/webpay/test/
src/svea/svea/webpay/.gitignore
src/svea/bin/