Thumbs.db
/nbproject/
/nbproject/private/
src/catalog/language/swedish/.DS_Store
src/catalog/language/swedish/account/
src/catalog/language/swedish/affiliate/
src/catalog/language/swedish/checkout/
src/catalog/language/swedish/common/
src/catalog/language/swedish/error/
src/catalog/language/swedish/information/
src/catalog/language/swedish/mail/
src/catalog/language/swedish/module/
src/catalog/language/swedish/payment/alertpay.php
src/catalog/language/swedish/payment/asiapay.php
src/catalog/language/swedish/payment/authorizenet_aim.php
src/catalog/language/swedish/payment/authorizenet_sim.php
src/catalog/language/swedish/payment/bank_transfer.php
src/catalog/language/swedish/payment/bluepay.php
src/catalog/language/swedish/payment/ccavenue.php
src/catalog/language/swedish/payment/ccnow.php
src/catalog/language/swedish/payment/cheque.php
src/catalog/language/swedish/payment/chronopay.php
src/catalog/language/swedish/payment/cod.php
src/catalog/language/swedish/payment/egold.php
src/catalog/language/swedish/payment/eway.php
src/catalog/language/swedish/payment/free_checkout.php
src/catalog/language/swedish/payment/google_checkout.php
src/catalog/language/swedish/payment/hsbc.php
src/catalog/language/swedish/payment/klarna.php
src/catalog/language/swedish/payment/linkpoint.php
src/catalog/language/swedish/payment/liqpay.php
src/catalog/language/swedish/payment/malse.php
src/catalog/language/swedish/payment/moneybookers.php
src/catalog/language/swedish/payment/nochex.php
src/catalog/language/swedish/payment/payjunction.php
src/catalog/language/swedish/payment/paymate.php
src/catalog/language/swedish/payment/paypoint.php
src/catalog/language/swedish/payment/perpetual_payments.php
src/catalog/language/swedish/payment/pp_express.php
src/catalog/language/swedish/payment/pp_pro.php
src/catalog/language/swedish/payment/pp_pro_uk.php
src/catalog/language/swedish/payment/pp_standard.php
src/catalog/language/swedish/payment/psigate.php
src/catalog/language/swedish/payment/sagepay.php
src/catalog/language/swedish/payment/sagepay_direct.php
src/catalog/language/swedish/payment/sagepay_us.php
src/catalog/language/swedish/payment/secpay.php
src/catalog/language/swedish/payment/twocheckout.php
src/catalog/language/swedish/payment/verisign.php
src/catalog/language/swedish/payment/web_payment_software.php
src/catalog/language/swedish/payment/worldpay.php
src/catalog/language/swedish/product/
src/catalog/language/swedish/shipping/
src/catalog/language/swedish/swedish.php
src/catalog/language/swedish/total/coupon.php
src/catalog/language/swedish/total/credit.php
src/catalog/language/swedish/total/handling.php
src/catalog/language/swedish/total/klarna_invoice_fee.php
src/catalog/language/swedish/total/low_order_fee.php
src/catalog/language/swedish/total/reward.php
src/catalog/language/swedish/total/shipping.php
src/catalog/language/swedish/total/sub_total.php
src/catalog/language/swedish/total/total.php
src/catalog/language/swedish/total/voucher.php