{% if coupon == true %}
    <!-- Coupon successful - start -->
    <div class="input-group">
        <span class="sco-input-label">{{ item_coupon }}</span>
        <div class="form-control sco-input" style="line-height: 35px;">
            <b>{{ coupon.code }}</b>
        </div>
        <span class="input-group-btn">
                <button class="btn btn-danger sco-btn-danger" id="sco-coupon-remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </span>
    </div>
    <script>
        $('#coupon-toggle-btn').addClass('used');
    </script>
    <!-- Coupon successful - end -->
{% else %}
<!-- Coupon unsuccessfully - start -->
<div class="input-group">
    <input type="text" class="form-control sco-input" name="coupon" placeholder="{{ item_coupon }}"/>
    <span class="input-group-btn">
                    <button class="btn sco-primary-btn" id="sco-coupon-add" type="button">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </span>
</div>
<script>
    $('#coupon-toggle-btn').removeClass('used');
</script>
{% endif %}
<!-- Coupon unsuccessfully - end -->
